:root {
  --dark-grey: #1B2631;
  --semi-dark-grey: #424949;
  --light-grey: #797D7F;
  --lighter-grey: #D0D3D4;
  --lightest-grey: #D0D3D4;
  --light-azure: #41BDFF;
  --lighter-azure: #B3DCF2;
  --pink: #FF006C;
  --green: #13E3AB;
  --barely-visible-grey: #F4F6F7;
  --europe-blue: #1C4785;
  box-sizing: border-box;
}

@font-face {
    font-family: "regular";
    src: url("./fonts/ECSquareSansPro-Regular.otf");
    font-style: normal;
}

@font-face {
    font-family: "light";
    src: url("./fonts/ECSquareSansPro-Light.otf");
    font-style: normal;
}

@font-face {
    font-family: "thin";
    src: url("./fonts/ECSquareSansPro-Thin.otf");
    font-style: normal;
}    

@font-face {
    font-family: "medium";
    src: url("./fonts/ECSquareSansPro-Medium.otf");
    font-style: normal;
}

@font-face {
    font-family: "extra-black";
    src: url("./fonts/ECSquareSansPro-XBlack.otf");
    font-style: normal;
}

@font-face {
    font-family: "bold";
    src: url("./fonts/ECSquareSansPro-Bold.otf");
    font-style: normal;
}

body {
  padding: 0;
  margin: 0;
}

p {
  font-family: "regular";
  font-size: 16px;
  color: var(--light-grey);
  line-height: 1.3;
}

h2 {
  font-family: "extra-black";
  color: var(--pink);
}

h3 {
  font-family: "medium";
  color: var(--dark-grey);
  font-size: 36;
  margin: 0;
}

h4 {
  font-family: "light";
  color: var(--dark-grey);
  font-size: 14px;
  margin: 0;
}

h5 {
  font-family: "thin";
  color: var(--light-azure);
  font-size: 15px;
}

a {
  text-decoration: none;
}

input {
  border: none;
  background-color: none;
  font-size: 14px;
  font-family: "regular";
}

label {
  font-family: "medium";
  color: var(--dark-grey);
  font-size: 12px;
}

button {
  border: none;
  cursor: pointer;
}


textarea {
  /* padding: 8px; */
  font-family: "regular";
  font-size: 14px;
}

#explorer-message {
  font-family: "medium";
}

/* NAVBAR */
#navbar {
  height: 15vh;
  max-height: 110px;
  display: flex;
  padding: 0 30px;
  background-color: white; 
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-family: "extra-black";
  color: var(--dark-grey);
}

#sub-heading {
  font-family: "light";
  color: var(--lightest-grey);
}

/* Main container */
#main-container {
  min-height: 85vh;
  padding: 4em 3.5em;
  display: flex;
  flex-direction: column;
  background: #56CCF2; 
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  justify-content: flex-start;
  align-items: center;

}

#password-box {
  /* width: 50%; */
  /* max-width: 500px; */
  width: 500px;
}

#card {
  -webkit-box-shadow: 4px 4px 6px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 6px -4px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 6px -4px rgba(0,0,0,0.75);
  width: 100%;
  background-color: white;
  margin: 60px 0;
}


.card-content {
  padding: 60px 40px; 
  background-color: white;
  /* padding-bottom: 60px; */
}

.table-container {
  display: flex;
  justify-content: center;
  width: 85vw;
  min-width: 80%;
  /* max-width: 1000px; */
}

.event-container {
  display: flex;
  justify-content: center;
  width: 75vw;
  max-width: 800px;
}

.event-header {
  width: 100%;
  background-color: var(--europe-blue);
}

.minimal-header {
  height: 4em;
  display: flex;
  justify-content: center;
  padding: 0 2em;
  align-items: center;
  background-color: #1C4785;
  display: none;
}

.minimal-header p {
  color: white;
  font-family: "medium";
}

.event-header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 80px;
  padding-top: 0;
  /* align-items: flex-end; */
}

.event-header p {
  color: #41BDFF;
  font-size: 20;
}

.event-title {
  color: white;
  font-family: "light";
  line-height: 35px;
  /* text-transform: uppercase; */
  font-size: 28px;
  padding-bottom: 2rem;
}

.event-details {
  font-family: "light";
  color: var(--light-azure);
  font-size: 16px;
}

.bottom-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.event-section-title {
  color: var(--pink);
  text-transform: uppercase;
  font-size: 16px;
  font-family: "light";
  text-align: left;
}

#event-description {
  white-space: pre-wrap;
}

.icon-line {
  display: flex;
  align-items: center;
  margin: 10;
  margin: 10px 0;
}

.icon {
  color: var(--lighter-azure);
  margin-right: 15px;
}

.logo {
  animation-name: enter;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input-container {
  border: 1px solid var(--lightest-grey);
  border-radius: 4px;
}

.secondary-button {
  color: var(--lightest-grey);
  font-family: "bold";
  font-size: 18px;
  border: none;
  background: none;
}

.button-container {
  margin: 30px 0;
}

.error-message {
  color: red;
  margin: 0;
}

.confirmation-box-container {
  background-color: white; 
  padding: 30px; 
  width: 60%;
}

#confirmation-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-button-substitute {
  padding: 10px 15px;
  background-color: var(--barely-visible-grey);
}

.registration-button-substitute h4 {
    color: var(--dark-grey);
  }

.section-title {
  color: var(--light-grey);
  padding: 9px 20px;
  border-left: 7px solid var(--pink);
}

.section-title h3 {
  margin-bottom: 0;
}

.section-title #main-title {
  font-size: 30px;
}

.section-title span {
  font-size: 12px;
  font-family: "regular";
  margin-left: 30px;
  text-transform: uppercase;
}


.useful-link {
  font-family: "regular";
  color: var(--europe-blue);
}

#admin-menu-items {
  display: flex;
  justify-content: space-between;
  width: 25%;
  max-width: 450px;
  min-width: 350px;
}

#admin-menu-items h5 {
  font-family: "medium";
}

#admin-menu-items h5:hover {
  color: var(--pink);
  cursor: pointer;  
}

.event-basic-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
}

.table {
  width: 100%;
  margin: 30px 0;
  background-color: white;
  /* border-radius: 10px; */
  border-collapse: collapse;
  padding-bottom: 40px;
}

.table td {
  text-align: center;
  padding: 9px;
  max-width: 250px;
  margin: 0;
  height: 40px;
}

.table .table-main-cell {
  text-align: start;
  font-family: "regular";
  color: var(--dark-grey);
}

.events .table-main-cell:hover {
  color: var(--pink);
}

.table h3 {
  margin: 0;
  padding: 15px;
  padding-top: 20px;
  font-size: 12.5px;
  text-transform: uppercase;
  color: var(--lighter-grey);
}

.table h4 {
  line-height: 22px;
  color: var(--semi-dark-grey);
}

.table tr {
  border-bottom: .3px solid var(--lightest-grey);
}

.table .icon-cell {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.table tbody tr:hover {
  background-color: var(--pink);
  background-color: var(--barely-visible-grey);
  cursor: pointer;
} 

.table tbody tr:hover > td h4 {
  color: black;
}

.action-icon {
  color: var(--lighter-grey);
  padding: 8px;
  cursor: pointer;
}

.action-icon:hover {
  color: var(--barely-visible-grey);
  color: var(--dark-grey);
  transform: scale(1.1);
}

.event-edit-input textarea {
  border: none;
}

.event-edit-input input, .event-edit-input textarea, .event-edit-input p  {
  padding: 5px;
  border-bottom: 1px solid var(--barely-visible-grey);
  /* color: var(--lighter-grey); */
}

.event-edit-input p {
  margin: 0;
}


.action-selector {
  background-color: var(--barely-visible-grey);
  border: none;
  color: var(--light-grey);
  font-family: "regular";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid var(--lighter-grey);
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  margin-left: 30px;
}

/* SPINNER */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
}

/* MODAL */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(66, 73, 73, .7);
  z-index: 1000;
}

.modal-confirmation-button {
  font-size: 18px;
  cursor: pointer;
  background: var(--barely-visible-grey);
  margin: 6px;
}

.modal-confirmation-button h4 {
  margin-bottom: 0;
}

.modal-confirmation-button:hover {
  transform: scale(1.1);
}

.confirmation-box {
  background-color: white;
  padding: 60px;
  border-radius: 7px;
}

#confirmation-box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 70%;
}

#disappearing-button {
  display: none;
}

/* PROGRAMME VIEWER */
.programme-image {
  max-width: 100%;
  height: auto;
}

/* VIDEO PLAYER */
.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* ADD TO CALENDAR */
.calendar-container {
    /* position: absolute;
    left: 65%; */
    margin-top: 20px;
}

.react-add-to-calendar__wrapper {
  font-family: "medium";
  display: flex;
  justify-content: center;
  width: 150px;
  background-color: var(--lighter-grey);
  padding: 10px;
  font-size: 12px;
  color: var(--semi-dark-grey);
  cursor: pointer;
}

.react-add-to-calendar__dropdown ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: grey;
  justify-content: center;
  color: black;
  width: 130px;
  background-color: var(--lighter-grey);
  padding: 20px;
  padding-top: 0;
  font-family: "regular";
}

.react-add-to-calendar__dropdown a {
  color: white;
  font-size: 14px;
}


.radio-box {
  width: 100%;
  margin: 10px;
  padding: 6px 10px;
}

.radio-container {
  margin-right: 30px;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

#footer-content {
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#hidable-footer {
  display: flex;
  justify-content: center;
}


/* DATE INPUT */
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}



/* MEDIA QUERIES */
@media only screen and (max-width:650px) {
  #password-box {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 30px;
    flex-direction: column;
  }

  #navbar {
    display: none;
  }

  #main-container {
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: none;
    /* background-color: var(--barely-visible-grey); */
  }

  .main-button {
    margin: 0px;
  }

  
  .event-container {
    width: 100vw;
  }

  #card {
    box-shadow: none;
  }

  .card-content {
    padding: 40px 30px;
  }

  .event-header {
    padding-bottom: 40px;
  }

  .event-header-content {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;

  }

  #event-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
  }

  #event-details .details {
    width: 90%;
  }

  .icon {
    margin-right: 8px;
  }

  .logo-image {
    position: absolute;
    top: 30px;
    left: 40vw;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  .event-container button {
    padding: 0 30px;
    margin-top: 30px;
  }

  .event-details {
    font-size: 18px;
  }

  .section-title {
    text-align: left;
  }

  h3 {
    font-size: 22px;
    text-align: center;
  }

  p {
    font-size: 20px;
  }

  svg {
    width: 100%;
    height: auto;
  }

  input {
    font-size: 18px;
  }

  label {
    font-size: 16px;
  }

  button {
    align-self: center;
  }

  button h3 {
    font-size: 20px;
  }

  .confirmation-box-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: none;
  }

  #confirmation-box-content h4 {
    font-size: 18px;
    line-height: 1.2em;
    justify-content: flex-start;
    margin-top: 30%;
  }

  .registration-button-substitute {
    align-self: center;
    margin-top: 20px;
    width: 50%;
    padding: 10px;
  }

  #footer-content {
    width: 80%;
  }

  .button-container {
    margin-top: 0;
  }

  #disappearing-button {
    display: block;
  }

  .secondary-button {
    margin-top: 0;
  }

  #make-it-invisible {
    display: none;
  }

  #card-to-collapse {
    margin: 0;
  }

  #make-it-visible {
    display: flex;
  }

  #hidable-footer {
    display: none;
  }
}


@media only screen and (max-width:420px) {
  .confirmation-box-container {
    background: #56CCF2; 
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    max-height: 100vh;
    padding:0;
  }

  .confirmation-box-container h2 {
    color: white;
    background-color: var(--pink);
    padding: 1.2rem 1.5rem;
  }

  #confirmation-box-content h4 {
    color: white;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 10%;
  }

  .secondary-button {
    font-size: 1.5rem;
    color: var(--light-grey);
    background: white;
    padding: .3rem 2rem;
    border-radius: 40px;
  }

  .bottom-details {
    flex-direction: column;
    align-items: center;
  }
}